@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');


:root{
    --bg-color-1: #191624;
    --bg-color-2: #000;
    --txt-color-1: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--txt-color-1);
    font-family: 'Orbitron', sans-serif;
    overflow-x: hidden;

}

.landing{
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color-1) ;
    display: flex;
    flex-direction: column;
align-items: baseline;
}

/*Style za navigaciju i naslov */
nav{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 10em 2em 10em ;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    text-decoration: none;
}

/* Design iconica navigacije */
/*li { list-style-image: url(img/example.png); } */


ul{list-style: none;}

.wrapper{
    padding: 10em 2em 0 2em;
    width: 90vw;
    display: flex;
    align-items:center ;
    justify-content: space-evenly;
}

#cover-img{
    width: 50em;
    height: auto;
    border-radius: 5em;

}

.site-description{
    max-width: 30em;
    height: fit-content;
}

/*=============     Section 2 ====================================================================*/

.skinns{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* random skin generator dugme */

#testbutton {
    width: 200px;
    height:50px;
    border-radius:180px; 
    position:relative;
    left:calc(50% - 75px);
    top:calc(50% - 25px);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    cursor:pointer;
    line-height:12px;
  }
  
  #testbutton:before {
    content:'';
    z-index:1;
    position:absolute;
    display:block;
    width:80%;
    height:70%;
    top:15%;
    left:10%;
    transition: 0.3s opacity ease-in-out;
    filter:blur(15px);
    opacity:0;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  }
  
  #testbutton:hover:before {
    opacity:1;
    transition: 0.3s opacity ease-in-out;
    filter:blur(25px);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
  }
  
  #testbutton:after {
    content:'CLICK ME!';
    text-align:center;
    line-height:40px;
    font-size:18px;
    color:rgba(235,235,235,1);
    font-weight:bold;
    z-index:5;
    position:absolute;
    display:block;
    border-radius:180px;
    width:92%;
    height:80%;
    top:10%;
    left:4%;  
    background-color:rgb(19, 20, 22);
  }

  .generate{
      width: 300px;
      height: 150px;
  }

  .container{
      background-color: #1098ad;
      width: 60em;
      height: 30em;
      border-radius: 50px;
      background-size: cover;
      overflow: hidden;
  }
  .info{
      background-color: #07b39b;
      width: 45em;
      height: 10em;
      border-radius: 10px;
  }

  img{
      width: 100%;
      overflow: hidden;
  }





/*============================     Pismeni   ===========================================*/

#prvi-div {
    width: 100wv;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: antiquewhite;
}

.block {
    width: 30em;
    height: 30em;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  /*  justify-content: center;*/
    padding: 2em;
}

.block:nth-child(1) {
    background-color: var(--bg-color-1);
}
.block:nth-child(2) {
    background-color: #483f68;
    justify-content: center;
    align-content: center;
}
.block:nth-child(3) {
    background-color: #08302a;
    justify-content: center;
    align-content: center;
}

.block h3{
    padding-bottom: .75em;
    
}

.block span {
    justify-self: center;
    margin-top: 10em;
    border-radius: 20px;
    padding: 6px 20px 6px 20px;
    border: 2.5px solid #000;


}

.block img {
    border-radius: 20px;
}